In [37]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [38]:
df = pd.read_csv ("name,weight.csv", delimiter=',')

In [39]:
df

   name  weight  height     ratio
0   dau      56     160  0.350000
1   tam      54     160  0.337500
2  tinh      58     158  0.367089
3  minh      63     170  0.370588

In [40]:
def_exl = pd.read_excel("name,weight,height.xlsx")
def_exl

   name  weight  height     ratio
0   dau      56     160  0.350000
1   tam      54     160  0.337500
2  tinh      58     158  0.367089
3  minh      63     170  0.370588

In [41]:
height = df["height"]

In [42]:
print(type(height))
print(height)

<class 'pandas.core.series.Series'>
0    160
1    160
2    158
3    170
Name: height, dtype: int64

In [43]:
type(df)

pandas.core.frame.DataFrame

In [44]:
df["height"] / df["weight"]

0    2.857143
1    2.962963
2    2.724138
3    2.698413
dtype: float64

In [45]:
df["hw_ratio"] = df['height'] / df["weight"]

In [46]:
df

   name  weight  height     ratio  hw_ratio
0   dau      56     160  0.350000  2.857143
1   tam      54     160  0.337500  2.962963
2  tinh      58     158  0.367089  2.724138
3  minh      63     170  0.370588  2.698413

In [47]:
df[ ["height", "weight"]]

   height  weight
0     160      56
1     160      54
2     158      58
3     170      63

In [48]:
df.loc[2]

name            tinh
weight            58
height           158
ratio       0.367089
hw_ratio    2.724138
Name: 2, dtype: object

In [49]:
df.iloc[2]

name            tinh
weight            58
height           158
ratio       0.367089
hw_ratio    2.724138
Name: 2, dtype: object

In [50]:
df.loc[1]

name             tam
weight            54
height           160
ratio         0.3375
hw_ratio    2.962963
Name: 1, dtype: object

In [51]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [52]:
pd.__version__

'2.2.2'

In [53]:
s = pd.Series( [0.3, 2, 4, 6, 8])

In [54]:
s

0    0.3
1    2.0
2    4.0
3    6.0
4    8.0
dtype: float64

In [55]:
s.values

array([0.3, 2. , 4. , 6. , 8. ])

In [56]:
a = s.values

In [57]:
type(a)

numpy.ndarray

In [58]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [60]:
s[4]

8.0

In [62]:
s[1:4]

1    2.0
2    4.0
3    6.0
dtype: float64

In [64]:
s.index = ['a','b','c','d','e']

In [65]:
s

a    0.3
b    2.0
c    4.0
d    6.0
e    8.0
dtype: float64

In [67]:
s['b']

2.0